<!DOCTYPE html>
<html>
  <head>
    <title>Clubhouse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <% if flash[:notice] %>
      <div class="notification is-success global-notification">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger global-notification">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to root_path, class: "navbar-item" do %>
          <figure class="image is-64x64">
            <%= inline_svg_tag('blobby.svg', options={size: "64px"}) %>
          </figure>
          <h1 class="title is-5">Clubhouse</h1>
        <% end %>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <% if user_signed_in? %>
              <div class="buttons">
                <p class="control">
                  <%= link_to current_user.username, edit_user_registration_path, class: "button is-primary" %>
                </p>
                <p>
                  <%= button_to "Logout", destroy_user_session_path, method: :delete, class:"button is-light" %>
                </p>
              </div>
            <% else %>
              <div class="buttons">
                <p class="control">
                  <%= link_to 'Log In', new_user_session_path, class: "button is-primary" %>
                </p>
                <p>
                  <%= link_to 'Sign Up', new_user_registration_path, class: "button is-light" %>
                </p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
